---
---

@import "{{ site.theme }}";
.page-header {
    color: #fff;
    text-align: center;
    background-color: rgb(30,19,105);
    background-image: linear-gradient(90deg, rgb(30,19,105,1) 0%, rgb(59,19,105,1)100%);
}
.main-content h1,.main-content h2,.main-content h3,.main-content h4,.main-content h5,.main-content h6 {
    color:#333333
}