@import "{{ site.theme }}";
.page-header {
    color: #fff;
    text-align: center;
    background: linear-gradient(90deg, rgb(30,19,105,1) 0%, rgb(59,19,105,1) 100%);
}
.main-content {
    h1,h2,h3,h4,h5 {
     color: #333333;
   }
  }