@import "{{ site.theme }}";
.page-header {
    color: #fff;
    text-align: center;
    background-color: #3b1369;
    background-image: linear-gradient(90deg, #1e1369, #3b1369)
}
h2 {
    color: #333333;
}